version: "3.3"

services:

  lb:
    image: "traefik:v2.2"
    ports:
     - "80:80"
     - "8080:8080"
    command:
      - "--api.debug=true"
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--providers.docker.swarmMode=true"
      - "--providers.docker.exposedbydefault=true" #si esta en false, ignora los containers que no tengan traefik.enable=true
      - "--providers.docker.network=traefik-net"
      - "--entrypoints.intg.address=:80"
    deploy:
      placement:
        constraints: [node.role == manager]
      mode: replicated
      replicas: 1
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - default
      - traefik-net

  ch:
    image: "ostechub/backend-service:test"
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.ch.rule=HeadersRegexp(`country`, `cl`) && PathPrefix(`/v1`)"
        - "traefik.http.services.ch-service.loadbalancer.server.port=8080"
        - "traefik.http.routers.pe.entrypoints=intg"        
      resources:
        limits:
         memory: 128M
    networks:
      - default


  pe-v2:
    image: "ostechub/backend-service:test"
    environment: 
      COUNTRY: "PERU"
      VERSION: "v2"
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.pe-v2.rule=HeadersRegexp(`country`, `pe`) && PathPrefix(`/v2`)"
        - "traefik.http.services.pe-v2-service.loadbalancer.server.port=8080"
        - "traefik.http.routers.pe.entrypoints=intg"
      resources:
        limits:
         memory: 128M
    networks:
      - default

  pe:
    image: "ostechub/backend-service:test"
    environment: 
      COUNTRY: "PERU"
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.http.routers.pe.rule=PathPrefix(`/`)"
        - "traefik.http.services.pe-service.loadbalancer.server.port=8080"
        - "traefik.http.routers.pe.entrypoints=intg"
      resources:
        limits:
         memory: 128M
    networks:
      - default

networks:
  default:
  traefik-net:
    external: true
      