version: "3.3"

services:

  lb:
    image: "traefik:v2.2"
    ports:
     - "8000:80"
     - "8081:8080"
    command:
      - "--api.debug=true"
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--providers.docker.swarmMode=true"
      - "--providers.docker.exposedbydefault=true" #si esta en false, ignora los containers que no tengan traefik.enable=true
      - "--providers.docker.network=traefik-net"
      - "--entrypoints.backoffice.address=:80"
    deploy:
      placement:
        constraints: [node.role == manager]
      mode: replicated
      replicas: 1
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - default
      - traefik-net

  chile:
    image: "ostechub/backend-service:test"
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.chile.rule=HeadersRegexp(`country`, `cl`) && PathPrefix(`/v1`)"
        - "traefik.http.services.chile-service.loadbalancer.server.port=8080"
        - "traefik.http.routers.chile.entrypoints=backoffice"
      resources:
        limits:
         memory: 128M
    networks:
      - default


  peru-v2:
    image: "ostechub/backend-service:test"
    environment: 
      COUNTRY: "PERU"
      VERSION: "v2"
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.peru-v2.rule=HeadersRegexp(`country`, `pe`) && PathPrefix(`/v2`)"
        - "traefik.http.services.peru-v2-service.loadbalancer.server.port=8080"
        - "traefik.http.routers.peru-v2.entrypoints=backoffice"
      resources:
        limits:
         memory: 128M
    networks:
      - default

  peru:
    image: "ostechub/backend-service:test"
    environment: 
      COUNTRY: "PERU"
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.http.routers.peru.rule=PathPrefix(`/`)"
        - "traefik.http.routers.peru.entrypoints=backoffice"
        - "traefik.http.services.peru-service.loadbalancer.server.port=8080"
      resources:
        limits:
         memory: 128M
    networks:
      - default

networks:
  default:
  traefik-net:
    external: true
      