version: "3.3"

services:

  traefik:
    image: "traefik:v2.2"
    ports:
     - "80:80"
     - "8080:8080"
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    deploy:
      placement:
        constraints: [node.role == manager]
      mode: replicated
      replicas: 1
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - default
      - traefik-net

  service-cl:
    image: "backend-service"
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.backoffice-service-cl.service=backoffice-service-cl"    
        - "traefik.http.routers.backoffice-service-cl.rule=Host(`backoffice.service.cl`)"
        - "traefik.http.services.backoffice-service-cl.loadbalancer.server.port=8080"
        - "traefik.docker.network=proxy"
      resources:
        limits:
         memory: 128M
    networks:
      - default

  peru:
    image: "backend-service"
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=proxy"
        - "traefik.frontend.rule=Host(`backoffice.peru)"
      resources:
        limits:
         memory: 128M
    networks:
      - default

networks:
  default:
  traefik-net:
    external: true
      